# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Compiled Python modules
*.pyc

# Logs
*.log

# Unit test / coverage reports
.coverage/
.pytest_cache/

model_dir/
test_data/
models-llm/